body{
  font-family: 'IBM Plex Mono', monospace;
  color: whitesmoke;
  background-color: #282c34;
}

.NoteContainer{
  margin: 20px;
  color: whitesmoke;
  border: 1px solid black;
  border-radius: 6px;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  background-color: #252558;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

hr{
  border: 1px inset rgba(55, 55, 58, 0.89);
  
}
img{
  width: 75%;
}

.codeExample{
  padding: 7px;
  color: chartreuse;
  width: fit-content;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.493);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}